.rewardFind{
	background-color: rgb(246,246,246);
	border-radius: 4px;
	margin: 1rem;
}
.rewardFindContent{
	padding: 1rem;
}
.rewardFindContent p{
	font-size: 1.1rem;
	text-align: center;
	margin-top: 1rem;
	color: rgb(57,61,70);
}
.FindContentTitle{
	text-align: center;
	color: rgb(255,75,75);
	font-size: 1rem;
	font-weight: bold;
}
.FindContentTitle img{
	width: 4%;
}
.findbBtn{
	display: inline-block;
	font-size: 1.2rem;
	color: #fff;
	border-radius: 20px;
	width: 8rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	background-color: rgb(59,136,246);
}
.square{
	border-top: 12px solid rgb(244,244,244);
}
.squareContent{
	padding: 1rem;
}
.rewardBor{
	color: rgb(59,136,246);
	font-size: 15px;
	border-top: 12px solid rgb(244,244,244);
	padding: 1rem 2rem 1rem;
}
.rewardComment{
	padding-left: 4rem;
	overflow: hidden;
	margin-bottom:1rem;
}
/*评论*/
.childCrack{
	padding-left: 4rem;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
}
.childZan{
	display: flex;
	align-items: center;
	float: left;
	margin-right: 15px;
	
}
.childZan img{
	width: 29%;
}
.childNum{
	color: rgb(153,153,153);
	font-size: 14px;
	padding-left: 5px;
}
.childD{
	position: absolute;
	top: 0;
	right: -20px;
}
.toanswer{
	color: rgb(255,255,255);
	font-size: 16px;
	text-align: center;
	background-color: rgb(59,136,246);
	padding: 1rem 2rem;
}
.name p{
	color: rgb(57,61,70);
	font-size: 15px;
	font-weight: bold;
}
/*尽调回答*/
.rewardFindContent .answerTitle{
	text-align: left;
	font-size: 16px;
	color: rgb(57,61,70);
	font-weight: bold;
	
}
.rewardFindContent .answerContent{
	text-align: left;
	margin-bottom: 1rem;
	height:2.8rem;
	overflow: hidden;
}
.answerBor{
	border-bottom: 1px solid rgb(232,234,237);
	padding: 1rem 2rem;
}
.borPreview{
	color: rgb(84,93,113);
}
.rewardCommentList {
		width: 31%;
		height: 6rem;
		float: left;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
	}
.rewardCommentList img{
	width: 100%;
	height: 100%;
}
.answerStyle {
  font-size: 15px;
  color: #333333;
  line-height: 20px;
  padding-bottom: 10px;
  padding-left: 4rem;
}
.answerSpan{
	color: red;
	font-size: 14px;
}
