.new-kffdownload {
        height: 100%;
        background-image: url(../../assets/down/downnew.png);
        background-size: 100% 83%;
        background-repeat: no-repeat;
        position: relative;
    }
    .newDownBtn{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: 0 auto;
        width: 19rem;
        height: 6rem;
        line-height: 5.5rem;
        background-image: url(../../assets/down/btn.png);
        background-size: 100% 100%;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
    .newDownqufen{
        
    }
    .weixin-tip img {
        max-width: 100%;
        height: auto;
    }

    .weixin-tip {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        filter: alpha(opacity=80);
        height: 100%;
        width: 100%;
        z-index: 100;
    }

    .weixin-tip p {
        text-align: center;
        margin-top: 10%;
        padding: 0 5%;
    }